@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .shadow-top{
        box-shadow: 0px -1px 20px 0px rgba(110,108,108,0.75);
    }
    .shadow-end{
        box-shadow: 0px 6px 10px 0px rgba(110,108,108,0.75);
    }
    .shadow-unset{
        box-shadow: unset;
    }
    
  }

  @layer components {
    .btn-success {
      @apply font-semibold hover:bg-green-800 bg-green-700 rounded text-white;
    }
    .btn-danger {
        @apply font-semibold hover:bg-red-700 bg-red-600 rounded text-white;
      }
      .btn-primary {
        @apply font-semibold hover:bg-blue-700 bg-blue-600 rounded text-white;
      }
      .btn-disable {
        @apply font-semibold bg-slate-400 rounded text-slate-100;
      }
      .btn-secondary{
        @apply font-semibold hover:bg-slate-400 bg-slate-300 rounded text-slate-800;
      }
      
  }
